################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gameofdrones/.vs/gameofdrones/v16/Server/sqlite3
